!!! 5
%html
  %head
    %title BreachDB
    <link href='/css/style.css' media='screen' rel='stylesheet' type='text/css' />
    %script{:src=> 'js/jquery.js'}
    %script{:src=> 'js/jquery.dataTables.min.js'}
    %script{:src=> 'js/functions.js'}
  %body
    %h1 BreachDB
    %ul#menu
      %li
        %a{:href=>"/breaches"} Breaches
      %li
        %a{:href=>"/submissions"} Submissions
      %li
        %a{:href=>"/dictionaries"} Dictionaries
      %li
        %a{:href => "/dictionary_words"} Dictionary Words
      %li
        %a{:href => "/hashes"} Hashes
      %li
        %a{:href => "/news"} News
    #container
      = yield
