!!! 5
%html
  %head
    :css
      html, body, div, span, applet, object, iframe,
      h1, h2, h3, h4, h5, h6, p, blockquote, pre,
      a, abbr, acronym, address, big, cite, code,
      del, dfn, em, img, ins, kbd, q, s, samp,
      small, strike, strong, sub, sup, tt, var,
      b, u, i, center,
      dl, dt, dd, ol, ul, li,
      fieldset, form, label, legend,
      table, caption, tbody, tfoot, thead, tr, th, td,
      article, aside, canvas, details, embed, 
      figure, figcaption, footer, header, hgroup, 
      menu, nav, output, ruby, section, summary,
      time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
      }
      /* HTML5 display-role reset for older browsers */
      article, aside, details, figcaption, figure, 
      footer, header, hgroup, menu, nav, section {
        display: block;
      }
      body {
        line-height: 1;
      }
      ol, ul {
        list-style: none;
      }
      blockquote, q {
        quotes: none;
      }
      blockquote:before, blockquote:after,
      q:before, q:after {
        content: '';
        content: none;
      }
      table {
        border-collapse: collapse;
        border-spacing: 0;
      }
      h1, h2, h3, h4, h5, h6 {
        font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
        font-size: 1.6em; }
      h2 {
        font-size: 1.4em; }
      h3 {
        font-size: 1.2em; }
      h4 {
        font-size: 1em; }
      h5 {
        font-size: 0.8em; }
      h6 {
        font-size: 0.6em; }
      p {
        font-size: 1em;
        line-height: 1.5em;
        padding: 1em 0; }
      ul {
        list-style: disc;
        padding-left: 1.3em;
        font-size: 1em;
        line-height: 1.5em; }
      em {
        font-weight: italic;
        font-weight: 400;
        line-height: 1em; }


      .exo-progress-wrapper{
        width: 300px;
        height: 22px;
        background: black;
        display: block;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }

      progress.exo-progress {
        display: block;
        position: absolute;
        height: 20px;
        width: 300px;
        margin: 0 auto;
        border: 1px solid #6a6a6a;
        background: rgb(7,7,7);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: 0px 1px 2px #000;
        -webkit-box-shadow: 0px 1px 2px #000;
        background: none;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(.3, black),color-stop(1, #444444));
        background: -moz-linear-gradient(top, black, #444444);
        filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#444444)";
      }

      progress.exo-progress::-webkit-progress-bar-value {
        border: 1px solid #35530a;
        background: #94df2f;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(.3, #94df2f),color-stop(1, #507e0e));
        background: -moz-linear-gradient(top, #94df2f, #507e0e);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#94df2f, endColorStr=#507e0e);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }

      .exo-progress-value{
        position: absolute;
        line-height: 20px;
        height: 20px;
        display: inline-block;
        margin-left: 140px;
        text-align: left;
        color: #eee;
        font-size: 14px;
        -webkit-text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
        -moz-text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
      }

      .exo-progress-bar{
        position: absolute;
        background: red;
        width: 300px;
        display: block;
        border: 1px solid #35530a;
        background: #94df2f;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(.3, #94df2f),color-stop(1, #507e0e));
        background: -moz-linear-gradient(top, #94df2f, #507e0e);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#94df2f, endColorStr=#507e0e);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#94df2f, endColorstr=#507e0e)";
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        height: 20px;
      }

      tr{
        margin: 0;
        padding: 0;
        border: 1px solid #eee;
      }

      tr td{
        margin: 0;
        padding: 3px 1em;
      }


      ul#menu{
        list-style: none;
      }

      ul#menu li{
        float: left;
        margin-right: 2em;
      }
      body{
        width: 1000px;
        margin: 0 auto;
        font-family: Arial;
      }
      #container{
        clear: both;
      }
      table {
        border-top:1px solid #e5eff8;
        border-right:1px solid #e5eff8;
        border-collapse:collapse;
        width: 100%;
      }
      td {
        color:#333;
        padding:.3em 1em;
        text-align:center;
        border-left: 1px solid #ECECEE;
        border-right: 1px solid #ECECEE;
        vertical-align: middle;
      }

      thead tr{
        line-height: 30px;
      }
      th{
        border-left: 1px solid #ECECEE;
        border-right: 1px solid #ECECEE;
      }

      tr{
        border-top: 1px solid #E3E3E3;
        border-bottom: 1px solid #E3E3E3;
      }
      .dataTables_wrapper {
        background-color: #eeeeee; }
        .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing {
          height: 35px;
          line-height: 35px;
          margin: 0 1em; }
        .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
          border-top: 1px solid #d4d4d4;
          margin: 0;
          padding: 5px 1em;
          color: #a9a9a9;
          font-size: 12px;
          height: 20px;
          line-height: 20px;
          border-bottom-right-radius: 5px;
          -moz-border-radius-bottomright: 5px;
          -webkit-border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;
          -moz-border-radius-bottomleft: 5px;
          -webkit-border-bottom-left-radius: 5px; }
          .dataTables_wrapper .dataTables_info .paginate_button, .dataTables_wrapper .dataTables_info .paginate_active, .dataTables_wrapper .dataTables_paginate .paginate_button, .dataTables_wrapper .dataTables_paginate .paginate_active {
            background: white;
            padding: 3px 5px;
            margin: 1px 2px;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            cursor: pointer;
            border: 1px solid #d4d4d4; }
            .dataTables_wrapper .dataTables_info .paginate_button:hover, .dataTables_wrapper .dataTables_info .paginate_active:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_active:hover {
              background: #eeeeee;
              color: black; }
          .dataTables_wrapper .dataTables_info .paginate_active, .dataTables_wrapper .dataTables_paginate .paginate_active {
            background: #eeeeee;
            color: black;
            cursor: default;
            border: 1px solid none; }
            .dataTables_wrapper .dataTables_info .paginate_active:hover, .dataTables_wrapper .dataTables_paginate .paginate_active:hover {
              background: #eeeeee; }
        .dataTables_wrapper .dataTables_length {
          float: left; }
        .dataTables_wrapper .dataTables_filter {
          float: right; }

      table {
        width: 100%;
        border-spacing: 0;
        font-size: 12px;
        clear: both; }
        table tbody tr, table thead tr {
          height: 30px;
          line-height: 160%; }
          table tbody tr.odd, table thead tr.odd {
            background: #f8fafa; }
          table tbody tr:hover, table thead tr:hover {
            background: #dbe9ff; }
          table tbody tr td, table tbody tr th, table thead tr td, table thead tr th {
            line-height: 160%;
            padding: 0 1em;
            vertical-align: middle;
            border-bottom: 1px solid #eeeeee;
            line-height: 160%;
            padding: 0 1em;
            vertical-align: middle; }
          table tbody tr th, table thead tr th {
            border-top: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd;
            background: #eeeeee;
            text-align: left; }
            table tbody tr th a, table thead tr th a {
              color: #666666;
              text-decoration: none;
              cursor: pointer; }
              table tbody tr th a:hover, table thead tr th a:hover {
                border-bottom: 1px solid #666666; }
    %title BreachDB
    %script{:src=> 'js/jquery.js'}
    %script{:src=> 'js/jquery.dataTables.min.js'}
    %script{:src=> 'js/functions.js'}
  %body
    %h1 BreachDB
    %ul#menu
      %li
        %a{:href=>"/breaches"} Breaches
      %li
        %a{:href=>"/submissions"} Submissions
      %li
        %a{:href=>"/dictionaries"} Dictionaries
      %li
        %a{:href => "/dictionary_words"} Dictionary Words
      %li
        %a{:href => "/hashes"} Hashes
      %li
        %a{:href => "/news"} News
    #container
      = yield
