%h1= @breach.breach_name
%dl
  %dt Difficulty
  %dd 5
%br
%h3 Downloads
%dl
  %dt All Hashes
  %dd
    %a{:href => ""}test
  %dt Un-Cracked Hashes
  %dd
  %dt Cracked Hashes
  %dd
  %td Passwords
%br
%h3 Stats
%br
%h4 Top Passwords
%br
%h4 Top Types
%br
%h4 Crackers
%br
%h4 Masks
%br
